<div ng-controller="newVoteCtrl" class="msg">

    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Vote</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">New Voting</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Title</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" value="Jane" ng-model="title">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Details</label>
                                    <div class="col-lg-9">
                                        <textarea class="form-control" rows="3" ng-model="details"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <label class="col-lg-3 col-form-label form-control-label">Options</label>
                                    <div class="col-lg-6">
                                        <input class="form-control" type="text" value="" ng-model="options">
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="button" class="btn btn-primary" value="add " ng-click="add()">
                                    </div>
                                </div>
                                <div class="col-lg-10 ml-auto">
                                    <ul>
                                        <li ng-repeat="item in arr"> {{item}}</li>
                                    </ul>
                                </div>


                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">End Date</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="date" value="">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <input type="reset" class="btn btn-secondary" value="Cancel">
                                        <input type="button" class="btn btn-primary" value="Save Changes">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form user info -->






                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save</button> -->
                </div>
            </div>
        </div>
    </div>
</div>