<div>
    <nav-bar></nav-bar>
    <div ng-include="'app/voting/newVote.html'"></div>

    <div class="msg row">
        <div class="col-md-6 ">
            <h4 class="font title">Active Voting</h4>
            <br>
            <button type="button" class="btn btn-outline-primary btn-sm ml-auto" ng-click="newVote()"
                ng-show="isCommittee()" data-toggle="modal" data-target="#modelId">Add New Vote</button> <br>

            <div id="accordianId" role="tablist" aria-multiselectable="true">
                <!-- = ng-repeat========================= -->
                <div class="card" ng-repeat="item in votesArr">
                    <div class="card-header" role="tab" id="section1HeaderId">
                        <h6 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId{{item.id}}  "
                                target="_self" aria-expanded="true" aria-controls="section1ContentId">
                                {{item.title}}
                            </a>
                        </h6>
                    </div>
                    <div id="section1ContentId{{item.id}}" class="collapse in" role="tabpanel"
                        aria-labelledby="section1HeaderId">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    Details:
                                </div>
                                <div class="col-md-6">
                                    {{item.details}}
                                </div>
                                <div class="col-md-3">
                                    <h8>Voting Percentage</h8>
                                    <canvas id="pie" class="chart chart-pie" chart-data="getChartData()"
                                        chart-labels="getChartLabels()" chart-options="options">
                                    </canvas>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    Due Date:
                                </div>

                                <div class="col-md-3">
                                    {{item.dueDate|date}}
                                </div>
                                <div class="col-md-3">
                                    <a href="" ng click="dueDateUpdt(item)">Update Due Date</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    Options:
                                </div>
                                {{item.options}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- -------------------------------------------------- voting results--------- -->
        <div class="col-md-6">
            <h4 class="font title">Voting results</h4>
        
            <label for=""></label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="search"
                ng-model="query">
            <br>
            <div id="accordianId2" role="tablist" aria-multiselectable="true">
                <!-- ============================= ng-repeat -->
                <div class="card">
                    <div class="card-header" role="tab" id="section1HeaderId2">
                        <h6 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordianId2" href="#{{item.id}}" target="_self"
                                aria-expanded="true" aria-controls="section1ContentId2">
                                Section 1
                            </a>
                        </h6>
                    </div>
                    <div id="{{item.id}}" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId2">
                        <div class="card-body">
                            Section 1 content
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>