.login{
    max-width: 450px;
    margin:auto;
    margin-top: 30px;
}
.msg{
    max-width: 1400px;
    margin: auto;
  
}

@font-face {
  font-family: font;
  src:url("font/Indie_Flower/IndieFlower.ttf");
}


.jumbotron {
  font-family: font;
    background-image: url("http://www.tarbut-hadiur.gov.il/sites/www.tarbut-hadiur.gov.il/themes/tarbut_diyur_responsive/images/inner_banner.png");
    background-size: cover;
    /* background-repeat: no-repeat; */
    text-align: center;
  }

  .title{
      color:green;
  }

  .icon{
    color:orange;
    /* size: 9ch; */
    /* padding: 1% */
  }
  .info{
    color:rgba(255, 132, 0, 0.904)

  }

  span{
    font-size: 13px

  }

  .font{
    font-family: font;
  }

  .title{
    text-align: center;
  }

  /* .image{
    height: 100px;
    width: 100px
  }
 */
  



