.login{
    max-width: 450px;
    margin:auto;
    margin-top: 30px;
}
.msg{
    max-width: 1400px;
    margin: auto;
  
}

.jumbotron {
    background-image: url("http://www.tarbut-hadiur.gov.il/sites/www.tarbut-hadiur.gov.il/themes/tarbut_diyur_responsive/images/inner_banner.png");
    background-size: cover;
    /* background-repeat: no-repeat; */
    text-align: center;
  }

  .title{
      color:green;
  }
  

  



