<div ng-controller="updatMsgCtrl" class="msg">





    <!-- Modal -->
    <div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="form-group row">
                            <!-- <label for="input2" class="col-sm-2 col-form-label">Details</label> -->
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" ng-model="details"></textarea>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary ml-2" ng-click="editMsg()"><i class="far fa-save "></i>Save <i
                                class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close <i class="far fa-window-close"></i></button>
                    
                </div>
            </div>
        </div>
    </div>